# App
SPRING_APP_NAME=taskapi-dev
SPRING_PROFILES_ACTIVE=dev

# Database
MSSQL_SA_PASSWORD=Dev@12345!
DB_NAME=taskdb_dev
APP_USER=taskapi-dev
APP_PASSWORD=Dev@12345!

# Ports
APP_PORT=8080
MSSQL_PORT=1433

# Docker
CONTAINER_NAME=taskapi-mssql-dev

# JPA
JPA_DDL_AUTO=update
JPA_SHOW_SQL=true

# JWT
JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
JWT_EXPIRATION=3600000