# App
SPRING_PROFILES_ACTIVE=dev
SCHEDULER_RETRIES=5
APP_ENV=dev
TASK_APP_NAME=taskapi-dev
IDENTITY_APP_NAME=identityapi-dev

# Database
DB_HOST=localhost
DB_PORT=1433
DB_ENCRYPT=false
DB_TRUST_CERT=true
MSSQL_SA_PASSWORD=Dev@12345!
DB_NAME=taskdb_dev
APP_USER=taskapi-dev
APP_PASSWORD=Dev@12345!

# Ports
TASK_APP_PORT=8080
IDENTITY_APP_PORT=8081
MSSQL_PORT=1433
JOBRUNR_PORT=8180

# Docker
DB_CONTAINER_NAME=taskapi-mssql-dev
IDENTITY_CONTAINER_NAME=taskapi-identity
TASK_CONTAINER_NAME=taskapi-task

# JPA
TASK_JPA_DDL_AUTO=update
IDENTITY_JPA_DDL_AUTO=validate

# JWT — generate your own: openssl rand -hex 32
JWT_SECRET=<64-hex-characters-required>
JWT_EXPIRATION=3600000

# Management
TRACING_SAMPLE=1.0
OTLP_ENDPOINT=http://localhost:4318/v1/traces

# Third party REST API
HACKERRANK_BASE_URL=https://jsonmock.hackerrank.com