# App
SPRING_PROFILES_ACTIVE=dev
SCHEDULER_RETRIES=5
APP_ENV=dev
TASK_APP_NAME=taskapi-dev
IDENTITY_APP_NAME=identityapi-dev

# Database
MSSQL_SA_PASSWORD=Dev@12345!
DB_NAME=taskdb_dev
APP_USER=taskapi-dev
APP_PASSWORD=Dev@12345!

# Ports
TASK_APP_PORT=8080
IDENTITY_APP_PORT=8081
MSSQL_PORT=1433
JOBRUNR_PORT=8180

# Docker
CONTAINER_NAME=taskapi-mssql-dev

# JPA
TASK_JPA_DDL_AUTO=update
IDENTITY_JPA_DDL_AUTO=validate

# JWT
JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
JWT_EXPIRATION=3600000

# Management
TRACING_SAMPLE=1.0
OTLP_ENDPOINT=http://localhost:4318/v1/traces

# Third party REST API
HACKERRANK_BASE_URL=https://jsonmock.hackerrank.com